<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div id="main-div" class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <img src="/images/beer.png" alt="beer image">
        <a class="btn btn-primary " href="/beers" role="button">Check the beers!</a>
        <a class="btn btn-primary" href="/random-beer" role="button">Check a random beer!</a>
    </div>
    
</body>
</html>

